
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/weatherapp/style.css">
</head>

<body>
    <h1>{{title}}</h1>
    {{errormessage}}

{{!-- How to make a footer stay in place, by Eric Jansson. Patent pending... --}}
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br>

</body>

</html>
